* {
    box-sizing: border-box;
}

aside, div, section, header, footer, header div {
    display: block;
}

html {
    font-size: 16px;
    font-family: Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
}

#wrapper {
    width: 80%;
    margin: auto;
    background-color: #729EBF;
    background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    border-radius: 6px;
    box-shadow: 3px 3px 3px #999;
    border: solid 1px #333A40
}

body {
    background-image: url("http://www.wallpapersshock.com/uploads/large/hd-games-wallpapers/free-games-lineage-beautiful-wallpapers-hd-download.jpg");
}

/*------------------------------------le grille------------------------------------------------*/
[class*="col-"] {
    float: left;
    padding: 11px 15px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

/*------------------------------grille de desktop-------------------------------------------------------*/
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*******************************-----HEADER--------------------*/
ul li {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

header {
    margin-bottom: 0.1%;
    height: 150px;
    display: block;
    position: relative;
    background-color: #729EBF;
    background-image: -webkit-linear-gradient(top, #214767 20%, #333A40 100%);
    background-image: linear-gradient(to bottom, #214767 20%, #333A40 100%);
    border-radius: 6px;
    box-shadow: 3px 3px 3px #999;
    border: solid 1px #333A40
}

/***************les animation du li******/
header div {
    height: 100px;
    padding: 0;
}

header div ul.row {
    display: inline;
    line-height: 100px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.col- {
    display: inline;
    padding: 0;
    text-align: center;
}

header div ul li a {
    text-decoration: none;
    color: white;
    position: relative;
    transition: all 2s;
}

header div ul li a,
header div ul li a:after,
header div ul li a:before {
    transition: all .5s;
}

header div ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -5px auto;
    width: 0;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

header div ul li a:hover:after {
    width: 100%;
}

header div ul li a:hover {
    color: #729EBF;
    transform: scale(1.3);
    z-index: 1;
}

header div ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

/*/*************carrousel************************/
#carrousel {
    height: 300px;
    width: 100%;
}

#wowslider-container1 div {
    margin: 0;
    width: 100%;
}

/*****************-------------------Le aside ------------------*/
#menu-deroulant {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    width: 180px;
}

#menu-deroulant ul {
    padding: 0;
    margin-bottom: 5%;
    list-style: none;
    text-align: center;
}

#menu-deroulant li {
    margin-bottom: 7%;
    background-color: #729EBF;
    background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    border-radius: 6px;
    box-shadow: 3px 3px 3px #999;
    border: solid 1px #333A40
}

#menu-deroulant li li {
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
    border-radius: 0;
    background: #444;
    box-shadow: none;
    border: none;
    margin: 0
}

#menu-deroulant a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-size: 1.2em
}

#menu-deroulant ul li a, #menu-deroulant li:hover li a {
    font-size: 1em
}

#menu-deroulant li:hover {
    background: #729EBF
}

#menu-deroulant li li:hover {
    background: #999;
}

#menu-deroulant ul li:last-child {
    border-radius: 0 0 6px 6px;
    border: none;
}

#menu-deroulant li:hover li {
    max-height: 15em;
}

#defillement {
    height: 400px;
    padding-left: 0;
}

#defillement ul li a {
    list-style-type: none;
    text-align: left;
}
#connexion form{
    position: relative;
}
#connexion p {
    color: red;
}

#connexion a {
    text-decoration: none;
    color: white;
    margin-left: 45%;
}

#connexion span {
    color: white;
}

/*-----------------le formulaire------------------*/
form div {
    margin-bottom: 3%;
    display: block;
}

label {
    display: inline-block;
    width: 35%;
}

.invalid input {
    border: solid 2px red;
}

.invalid p {
    color: red;
    margin-left: 35%;
}

/******************-----le tableau-------------*/
table {
    width: 80%;
    border-collapse: separate;
    border-spacing: 2px;
    caption-side: bottom;
}

td, th {
    padding: 6px 12px;
}

th {
    text-align: left;
}

td:last-child, th:last-child {
    text-align: right;
}

table caption {
    color: white;
    font-style: italic;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

tr:nth-child(odd) {
    background: #eee;
}

tr:nth-child(even) {
    background: #ddd;
}

tr:first-child {
    background: #cba;
    color: white;
}

table td:empty {
    background: white;
}

table tr + tr:hover {
    background: #bbb;
    color: white;
}

table tr + tr td:hover, table tr + tr th:hover {
    background: #777;
    cursor: pointer;
}

fieldset {
    width: 85%;
}

#tab {
    width: 100%;
}

/*****************--------willy verrier--------*******/

h2 {
    color: red;
}