*{
    box-sizing: border-box;
}
aside, div, section, header, footer, nav {
    display: block;
}

html{
    font-size: 16px;
    font-family: Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
}
#wrapper{
    width: 80%;
    margin: auto;
    background-color:#729EBF;
    background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    border-radius: 6px;
    box-shadow: 3px 3px 3px #999;
    border:solid 1px #333A40
}
body{
    background-image: url("http://www.wallpapersshock.com/uploads/large/hd-games-wallpapers/free-games-lineage-beautiful-wallpapers-hd-download.jpg");
}
/*------------------------------------le grille------------------------------------------------*/
[class*="col-"] {
    float: left;
    padding: 11px 15px;
}
.row:after{
    content: "";
    clear: both;
    display: block;
}


/*------------------------------grille de desktop-------------------------------------------------------*/
.col-1  {width: 8.33%;}
.col-2  {width: 16.66%;}
.col-3  {width: 25%;}
.col-4  {width: 33.33%;}
.col-5  {width: 41.66%;}
.col-6  {width: 50%;}
.col-7  {width: 58.33%;}
.col-8  {width: 66.66%;}
.col-9  {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*******************************-----HEADER--------------------*/
nav ul li{
    list-style-type: none;
}
li a{
    text-decoration: none;
}
/*****************-------------------Le aside ------------------*/
#menu-deroulant {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
    width: 180px;
}
#menu-deroulant ul {
    padding:0;
    margin-bottom:5%;
    list-style:none;
    text-align: center;
}
#menu-deroulant li {
    margin-bottom:7%;
    background-color:#729EBF;
    background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    border-radius: 6px;
    box-shadow: 3px 3px 3px #999;
    border:solid 1px #333A40
}
#menu-deroulant li li {
    max-height:0;
    overflow: hidden;
    transition: all .5s;
    border-radius:0;
    background: #444;
    box-shadow: none;
    border:none;
    margin:0
}
#menu-deroulant a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-size:1.2em
}
#menu-deroulant ul li a, #menu-deroulant li:hover li a {
    font-size:1em
}
#menu-deroulant li:hover {
    background: #729EBF
}
#menu-deroulant li li:hover {
    background: #999;
}
#menu-deroulant ul li:last-child {
    border-radius: 0 0 6px 6px;
    border:none;
}
#menu-deroulant li:hover li {
    max-height: 15em;
}

/*-----------------le formulaire------------------*/
div {
    margin-bottom: 3%;
    display: block;
}

label {
    display: inline-block;
    width: 35%;
}

.invalid input {
    border: solid 2px red;
}

.invalid p {
    color: red;
    margin-left: 35%;
}
/*****************--------willy verrier--------*******/

h2{
    color: red;
}